<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中国移动官方网站</title>
    <link rel="shortcut icon" href="/images/10086/favicon.ico" type="images/x-icon">

    <link rel="stylesheet" href="/stylesheets/10086.css" type="text/css">
    <script src="/javascripts/jquery-3.3.1.js"></script>
    <script src="/javascripts/10086.js"></script>
</head>

<body>
<div class="welcome">
    <a id="welcome_first">欢迎来到中国移动网站</a>
    <a href="https://login.10086.cn/login.html?channelID=12034&backUrl=http%3A%2F%2Fwww.10086.cn%2Findex%2Fzj%2Findex_571_571.html%3FWT.mc_id%3D8t0xsDMfVa8hgIN138jM_B8XzfMN8aGRkCM0Auoor1546864254.015wm0x42d120o74t101xm0w"
       target="_blank" id="welcome_a1">请登录</a>
    <a href="https://shop.10086.cn/i/?f=home" target="_blank" id="welcome_a2">个人中心</a>
    <a id="welcome_a3">中国移动客户端</a>
    <a href="http://jf.10086.cn/" target="_blank">积分商城</a>
    <a href="https://open.10086.cn/" target="_blank" id="welcome_a5">能力开放商店</a>
    <a href="http://www.10086.cn/aboutus/index/zj/" target="_blank">关于中国移动</a>
    <a href="http://www.10086.cn/web_notice/contact/" target="_blank">联系我们</a>
    <a href="http://www.zj.10086.cn/group/" target="_blank">政企客户</a>
    <a href="https://www.chinamobileltd.com/en/global/home.php" target="_blank">ENGLISH</a>
</div>

<div>
    <a href="https://shop.10086.cn/hd/dlqqt/571.html?WT.mc_id=1812_NQQT_PCMH3" target="_blank"><img
            src="/images/10086/guanggao.jpg" width="1200px" height="100px"></a>
</div>

<div class="title_bar">
    <a id="title_bar_a1">全部产品服务</a>
    <a href="http://www.10086.cn/index/zj/index_571_571.html" target="_blank" id="title_bar_a2">首页</a>
    <a href="https://shop.10086.cn/mall_571_571.html" target="_blank">移动商城</a>
    <a href="http://service.zj.10086.cn/" target="_blank">网上营业厅</a>
    <a href="https://zj.ac.10086.cn/POST" target="_blank">我的移动</a>
    <a href="http://www.10086.cn/support/zj/" target="_blank">服务中心</a>
</div>

<div class="main_business">
    <ul class="all_product_list">
        <li onmouseover="leftShow(0)" onmouseout="leftHide(0)">办业务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></li>
        <br/>
        <li onmouseover="leftShow(1)" onmouseout="leftHide(1)">买手机&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></li>
        <br/>
        <li onmouseover="leftShow(2)" onmouseout="leftHide(2)">套餐/靓号&nbsp;&nbsp;></li>
        <br/>
        <li onmouseover="leftShow(3)" onmouseout="leftHide(3)">家庭业务&nbsp;&nbsp;&nbsp;></li>
        <br/>
        <li onmouseover="leftShow(4)" onmouseout="leftHide(4)">智能硬件&nbsp;&nbsp;&nbsp;></li>
        <br/>
        <li onmouseover="leftShow(5)" onmouseout="leftHide(5)">查询服务&nbsp;&nbsp;&nbsp;></li>
        <br/>
        <li onmouseover="leftShow(6)" onmouseout="leftHide(6)">特色专区&nbsp;&nbsp;&nbsp;></li>
        <br/>
    </ul>
    <div class="main_picture_area">
        <img id="main_picture_area_img1" src="/images/10086/guanggao_qiehuan1.jpg">
        <div id="main_picture_area_scroll_number">
            <ul>
                <li id="main_picture_area_li1" onmouseover="show(0)" onmouseout="hide(0)"><img
                        id="main_picture_area_li_img1"
                        src="/images/10086/black.jpg">
                </li>
                <li id="main_picture_area_li2" onmouseover="show(1)" onmouseout="hide(1)"><img
                        id="main_picture_area_li_img2"
                        src="/images/10086/white.jpg">
                </li>
                <li id="main_picture_area_li3" onmouseover="show(2)" onmouseout="hide(2)"><img
                        id="main_picture_area_li_img3"
                        src="/images/10086/white.jpg">
                </li>
                <li id="main_picture_area_li4" onmouseover="show(3)" onmouseout="hide(3)"><img
                        id="main_picture_area_li_img4"
                        src="/images/10086/white.jpg">
                </li>
            </ul>
        </div>
    </div>
    <table class="small_business_tab">
        <tr>
            <td><img src="/images/10086/small_business1.jpg" width="80%" height="80%"></td>
            <td><img src="/images/10086/small_business2.jpg" width="80%" height="80%"></td>
            <td><img src="/images/10086/small_business3.jpg" width="80%" height="80%"></td>
        </tr>
        <tr>
            <td><img src="/images/10086/small_business4.jpg" width="80%" height="80%"></td>
            <td><img src="/images/10086/small_business5.jpg" width="80%" height="80%"></td>
            <td><img src="/images/10086/small_business6.jpg" width="80%" height="80%"></td>
        </tr>
    </table>
    <div class="top_up">
        <input id="top_up_input1" type="text" value="请输入号码">
        <input id="top_up_input2" type="submit" value="充值"
               onclick="openNewWindow('https://shop.10086.cn/i/?f=rechargecredit&mobileNo=15895974680&amount=30')">
    </div>
</div>

<div class="rolling_area">
    <a href="http://www.10086.cn/support/service/events/zj/index_571_571.html" target="_blank"><img
            class="rolling_area_pic"
            src="/images/10086/rolling_area1.jpg"></a>
    <div class="rolling_area_box_div">
        <ul id="rolling_area_box_ul">
            <li><img src="/images/10086/rolling_area2.jpg"></li>
            <li><img src="/images/10086/rolling_area3.jpg"></li>
            <li><img src="/images/10086/rolling_area4.jpg"></li>
            <li><img src="/images/10086/rolling_area5.jpg"></li>
        </ul>
    </div>
</div>

<div class="_1F_discount">
    <p id="_1F_discount_p">1F 享优惠</p>
    <img id="_1F_discount_img1" src="/images/10086/1F_discount1.jpg">
    <img class="_1F_discount_img" src="/images/10086/1F_discount2.jpg">
    <img class="_1F_discount_img" src="/images/10086/1F_discount3.jpg">
    <img class="_1F_discount_img" src="/images/10086/1F_discount4.jpg">
    <img id="_1F_discount_img5" src="/images/10086/1F_discount5.jpg">
    <img id="_1F_discount_img6" src="/images/10086/1F_discount6.jpg">
</div>

<div class="_2F_business_recommend">
    <p id="_2F_business_recommend_p">2F 业务推荐</p>
    <img id="_2F_business_recommend_img1" src="/images/10086/2F_business_recommend1.jpg">
    <img class="_2F_business_recommend_img" src="/images/10086/2F_business_recommend2.jpg">
    <img class="_2F_business_recommend_img" src="/images/10086/2F_business_recommend3.jpg">
    <img class="_2F_business_recommend_img" src="/images/10086/2F_business_recommend4.jpg">
    <img class="_2F_business_recommend_img" src="/images/10086/2F_business_recommend5.jpg">
    <img class="_2F_business_recommend_img" src="/images/10086/2F_business_recommend6.jpg">
    <img class="_2F_business_recommend_img" src="/images/10086/2F_business_recommend7.jpg">
    <img id="_2F_business_recommend_img8" src="/images/10086/2F_business_recommend8.jpg">
</div>

<div class="_3F_phone_area">
    <p id="_3F_phone_area_p">3F 手机专区</p>
    <img id="_3F_phone_area_img1" src="/images/10086/3F_phone_area1.jpg">
    <img class="_3F_phone_area_img" src="/images/10086/3F_phone_area2.jpg">
    <img class="_3F_phone_area_img" src="/images/10086/3F_phone_area3.jpg">
    <img class="_3F_phone_area_img" src="/images/10086/3F_phone_area4.jpg">
    <img class="_3F_phone_area_img" src="/images/10086/3F_phone_area5.jpg">
    <img class="_3F_phone_area_img" src="/images/10086/3F_phone_area6.jpg">
    <img class="_3F_phone_area_img" src="/images/10086/3F_phone_area7.jpg">
    <img id="_3F_phone_area_img8" src="/images/10086/3F_phone_area8.jpg">
</div>

<div class="_4F_smart_hardware">
    <p id="_4F_smart_hardware_p">4F 智能硬件</p>
    <img id="_4F_smart_hardware_img1" src="/images/10086/4F_smart_hardware1.jpg">
</div>

<div class="_5F_migoo_happy">
    <p id="_5F_migoo_happy_p">5F 咪咕娱乐</p>
    <img id="_5F_migoo_happy_img1" src="/images/10086/migoo_happy.jpg">
</div>

<div class="guess_you_like">
    <p>猜你喜欢</p>
    <img src="/images/10086/guess_you_like1.jpg">
    <img src="/images/10086/guess_you_like2.jpg">
    <img src="/images/10086/guess_you_like3.jpg">
    <img src="/images/10086/guess_you_like4.jpg">
</div>

<div class="special_area">
    <p>特色专区</p>
    <img src="/images/10086/special_area1.jpg">
    <img src="/images/10086/special_area2.jpg">
    <img src="/images/10086/special_area3.jpg">
    <img src="/images/10086/special_area4.jpg">
</div>

<div class="common_link">
    <table>
        <tr>
            <th>服务渠道</th>
            <th>站点导航</th>
            <th>快捷服务</th>
            <th>常见问题</th>
            <th>服务指南</th>
        </tr>
        <tr>
            <td>自助终端</td>
            <td>MM</td>
            <td>话费查询</td>
            <td>电子发票</td>
            <td>购物指南</td>
        </tr>
        <tr>
            <td>10086热线</td>
            <td>和飞信</td>
            <td>在线充值</td>
            <td>10086小贴士</td>
            <td>付款方式</td>
        </tr>
        <tr>
            <td>实体营业厅</td>
            <td>和包</td>
            <td>网上选号入网</td>
            <td>号码归属地查询</td>
            <td>物流配送</td>
        </tr>
        <tr>
            <td>短信营业厅</td>
            <td>咪咕阅读</td>
            <td>投诉工单查询</td>
            <td>办理停复机</td>
            <td>售后服务</td>
        </tr>
        <tr>
            <td>网上营业厅</td>
            <td>139邮箱</td>
            <td>流量充值</td>
            <td>客户密码服务</td>
            <td>个人中心</td>
        </tr>
        <tr>
            <td>客户端/掌上营业厅</td>
            <td>能力开放商店</td>
            <td>已订业务查询</td>
            <td>模糊认证</td>
            <td>网站服务协议</td>
        </tr>
    </table>
</div>

<div class="end_page">
    <div id="end_page_first_line">
        <a href="http://www.10086.cn/aboutus/news/index/zj/" target="_blank">新闻中心</a>
        <a href="https://job.10086.cn/" target="_blank">诚聘英才</a>
        <a href="http://www.10086.cn/aboutus/hezuo/index/" target="_blank">企业合作</a>
        <a href="http://www.10086.cn/web_notice/navigation/" target="_blank">站点导航</a>
        <a href="http://www.cmdi.chinamobile.com/" target="_blank">中国移动设计院</a>
        <a href="http://www.hk.chinamobile.com/sc/" target="_blank">中国移动香港公司</a>
        <a href="https://zhengqi.10086.cn/" target="_blank">政企客户分公司</a>
        <a href="http://www.10086.cn/cmdha/" target="_blank">数字家庭合作联盟</a>
        <a href="http://www.zj.10086.cn/sitemap/" target="_blank">网站地图</a>
        <a href="http://www.10086.cn/web_notice/links/" target="_blank">友情链接</a>
    </div>
    <div id="end_page_second_line">
        <a>掌上营业厅：wap.10086.cn</a>
        <a>语音自助服务：10086</a>
        <a>短信营业厅：10086</a>
        <a>自助终端</a>
        <a>营业厅</a>
        <a>中国移动客户端下载</a>
    </div>
    <div id="end_page_third_line">
        <a>Copyright©1999-2019</a>
        <a>中国移动</a>
        <a>版权所有</a>
        <a>本网站支持IPv6访问</a>
    </div>
    <div id="end_page_fourth_line">
        <a>中华人民共和国增值电信业务经营许可证</a>
        <a>经营许可证编号：A2.B1.B2-20100001</a>
    </div>
    <div id="end_page_fifth_line">
        <a href="https://ss.knet.cn/verifyseal.dll?sn=e130905110100423008ilb000000&pa=512111"><img
                src="/images/10086/trust_site.jpg"></a>
        <a id="end_page_fifth_line_a2">京ICP备05002571号</a>
    </div>
</div>

<div class="floating_window_right1">
    <dl>
        <dt></dt>
        <dd class="online_consult">
            <span></span>
            <div class="floating_left"><a href="https://kfol.cmcc-cs.cn/ngmmgw/src/index.html" target="_blank">在线咨询</a>
            </div>
        </dd>
        <dd class="common_problem">
            <span></span>
            <div class="floating_left"><a href="http://www.10086.cn/support/selfservice/help/zj/"
                                          target="_blank">常见问题</a></div>
        </dd>
        <dd class="complain_suggestion">
            <span></span>
            <div class="floating_left"><a href="http://www.10086.cn/support/selfservice/suggest/"
                                          target="_blank">投诉建议</a></div>
        </dd>
    </dl>
</div>

<div class="floating_window_right2">
    <dl>
        <dt></dt>
        <dd>
            <a href="#_1F_discount_p">1F</a>
        </dd>
        <dd>
            <a href="#_2F_business_recommend_p">2F</a>
        </dd>
        <dd>
            <a href="#_3F_phone_area_p">3F</a>
        </dd>
        <dd>
            <a href="#_4F_smart_hardware_p">4F</a>
        </dd>
        <dd>
            <a href="#_5F_migoo_happy_p">5F</a>
        </dd>
        <dd>
            <a href="#welcome_first">顶</a>
        </dd>
    </dl>
</div>

</body>
</html>