<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中国移动官方网站</title>

    <link type="text/css" rel="stylesheet" href="/stylesheets/10086.css">
    <script src="/javascripts/10086.js"></script>
</head>

<body>
<div class="welcome">
    <a>欢迎来到中国移动网站</a>
    <a href="https://login.10086.cn/login.html?channelID=12034&backUrl=http%3A%2F%2Fwww.10086.cn%2Findex%2Fzj%2Findex_571_571.html%3FWT.mc_id%3D8t0xsDMfVa8hgIN138jM_B8XzfMN8aGRkCM0Auoor1546864254.015wm0x42d120o74t101xm0w"
       target="_blank" id="welcome_a1">请登录</a>
    <a href="https://shop.10086.cn/i/?f=home" target="_blank" id="welcome_a2">个人中心</a>
    <a id="welcome_a3">中国移动客户端</a>
    <a href="http://jf.10086.cn/" target="_blank">积分商城</a>
    <a href="https://open.10086.cn/" target="_blank" id="welcome_a5">能力开放商店</a>
    <a href="http://www.10086.cn/aboutus/index/zj/" target="_blank">关于中国移动</a>
    <a href="http://www.10086.cn/web_notice/contact/" target="_blank">联系我们</a>
    <a href="http://www.zj.10086.cn/group/" target="_blank">政企客户</a>
    <a href="https://www.chinamobileltd.com/en/global/home.php" target="_blank">ENGLISH</a>
</div>

<div>
    <a href="https://shop.10086.cn/hd/dlqqt/571.html?WT.mc_id=1812_NQQT_PCMH3" target="_blank"><img
            src="/images/10086_guanggao.jpg" width="1200px" height="100px"></a>
</div>

<div class="title_bar">
    <a id="title_bar_a1">全部产品服务</a>
    <a href="http://www.10086.cn/index/zj/index_571_571.html" target="_blank" id="title_bar_a2">首页</a>
    <a href="https://shop.10086.cn/mall_571_571.html" target="_blank">移动商城</a>
    <a href="http://service.zj.10086.cn/" target="_blank">网上营业厅</a>
    <a href="https://zj.ac.10086.cn/POST" target="_blank">我的移动</a>
    <a href="http://www.10086.cn/support/zj/" target="_blank">服务中心</a>
</div>

<div class="main_business">
    <ul class="all_product_list">
        <li>办业务</li>
        <br/>
        <li>买手机</li>
        <br/>
        <li>套餐/靓号</li>
        <br/>
        <li>家庭业务</li>
        <br/>
        <li>智能硬件</li>
        <br/>
        <li>查询服务</li>
        <br/>
        <li>特色专区</li>
        <br/>
    </ul>
    <div class="main_picture_area">
        <img id="main_picture_area_img1" src="/images/10086_guanggao_qiehuan1.jpg">
        <div id="main_picture_area_scroll_number">
            <ul>
                <li id="main_picture_area_li1" onmouseover="show(0)" onmouseout="hide(0)"><img
                        id="main_picture_area_li_img1"
                        src="/images/black.jpg">
                </li>
                <li id="main_picture_area_li2" onmouseover="show(1)" onmouseout="hide(1)"><img
                        id="main_picture_area_li_img2"
                        src="/images/white.jpg">
                </li>
                <li id="main_picture_area_li3" onmouseover="show(2)" onmouseout="hide(2)"><img
                        id="main_picture_area_li_img3"
                        src="/images/white.jpg">
                </li>
                <li id="main_picture_area_li4" onmouseover="show(3)" onmouseout="hide(3)"><img
                        id="main_picture_area_li_img4"
                        src="/images/white.jpg">
                </li>
            </ul>
        </div>
    </div>
    <table class="small_business_tab">
        <tr>
            <td><img src="/images/10086_small_business1.jpg" width="80%" height="80%"></td>
            <td><img src="/images/10086_small_business2.jpg" width="80%" height="80%"></td>
            <td><img src="/images/10086_small_business3.jpg" width="80%" height="80%"></td>
        </tr>
        <tr>
            <td><img src="/images/10086_small_business4.jpg" width="80%" height="80%"></td>
            <td><img src="/images/10086_small_business5.jpg" width="80%" height="80%"></td>
            <td><img src="/images/10086_small_business6.jpg" width="80%" height="80%"></td>
        </tr>
    </table>
</div>

<div class="rolling_area">
    <img src="/images/10086_rolling_area1.jpg" class="rolling_area_pic">
</div>
</body>
</html>